
#h1
{
	color: crimson; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("https://previews.123rf.com/images/olegdudko/olegdudko1802/olegdudko180201809/94878830-colorful-drawing-supplies-frame-on-white-background-free-space-flat-lay-art-workshop-painting-inspir.jpg");
	background-size: cover;
	background-position: center;
}

#myCanvas{
border-width: 20px;
border-style: ridge;
border-color: crimson;
background-color: white;
}
#clear{
	color: white;
	width: 100px;
	background: crimson;
	font-size: 25px;
}